@page "/SeriousnessManagement"
@model Segurplan.Web.Pages.Models.Administration.SeriousnessList.SeriousnessManagementModel
@using Segurplan.Core.Actions.Administration

@inject SharedLocalizer L

@{
    ViewData["Title"] = "Gravedad";

    bool editEnabled = Model.CurrentOperation != AdministrationActionType.Read;

    string fieldState = editEnabled ? string.Empty : "disabled";

}
    <form id="EditSeriousnessForm" enctype="multipart/form-data" method="post">
        <div class="content planes">
            <div class="container formularioDetalle">
                @Html.HiddenFor(model => model.Seriousness.Id)
                @Html.HiddenFor(model => model.CurrentOperation)
                @{
                    if (Model.CurrentOperation != AdministrationActionType.Create)
                    {
                        <div class="row">
                            @{var myStatus = Model.CurrentOperation == AdministrationActionType.Create ? string.Empty : "disabled";}
                            <div class="form-group bmd-form-group col-2 col-lg-1 @myStatus">
                                <div class="input-group">
                                    <label for="code" class="bmd-label-floating">@L["Administration.User.Code"]</label>
                                    @Html.TextBoxFor(model => model.Seriousness.Id, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    }
                }

                <div class="row">
                    <div class="form-group bmd-form-group col-12">
                        @*<div class="input-group ">
                            <label for="User" class="bmd-label-floating">@L["SideBar.SeriousnessList"]</label>
                            @Html.TextBoxFor(model => model.Seriousness.Value, new { @class = "form-control" })
                        </div>*@

                        <div>
                            <table class="table table-bordered no-cursor">
                                <thead>
                                    <tr>
                                        <th scope="col">Gravedad</th>
                                        <th scope="col">Probabilidad</th>
                                        <th scope="col">Nivel riesgo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var probability in Model.MatrixData.Value.Probability)
                                        {
                                            int i = Model.MatrixData.Value.Probability.IndexOf(probability);

                                            <tr>
                                                @{
                                                    if (Model.MatrixData.Value.Probability.First() == probability)
                                                    {
                                                        <td rowspan="@Model.MatrixData.Value.Probability.Count">
                                                            <div class="input-group ">
                                                                @*<label for="User" class="bmd-label-floating">@L["SideBar.SeriousnessList"]</label>*@
                                                                <input asp-for="Seriousness.Value" type="text" class="form-control"
                                                                       disabled="@(Model.ManagementAction == ManagementAction.View)" />
                                                            </div>
                                                        </td>
                                                    }
                                                }
                                                <td>
                                                    <input asp-for="Seriousness.TableMatrixValues[i].ProbabilityId" value="@probability.Id" type="hidden" class="form-control"
                                                           disabled="@(Model.ManagementAction == ManagementAction.View)" />
                                                    @probability.Id: @probability.Value
                                                </td>
                                                <td>
                                                    <input type="hidden" asp-for="Seriousness.TableMatrixValues[i].Id" />
                                                    <select class="form-control selectpicker"
                                                            asp-for="Seriousness.TableMatrixValues[i].RiskLevelId"
                                                            asp-items="@Model.MatrixData?.Value?.RiskLevel?.Select(n => new SelectListItem { Text = $"{n.Id} : {n.Level}", Value = n.Id.ToString() })"
                                                            data-style="select-with-transition" data-live-search="true"
                                                            disabled="@(Model.ManagementAction == ManagementAction.View)">
                                                        <option>@L["Common.Select"]</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="footer-formularioDetalle">
            <div class="container-fluid">
                <div class="row px-4 align-items-center">
                    <div class="col-auto ml-auto">
                        @{
                            if (editEnabled)
                            {
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <button class="btn btn-default" onclick="back();">
                                            @L["Administration.User.Cancel"]
                                        </button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button type="submit" asp-page-handler="SaveSeriousness" class="btn btn-primary">
                                            @L["General.Boton.Guardar"]
                                        </button>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <button class="btn btn-primary" onclick="back();">
                                    Volver
                                </button>

                            }
                        }
                    </div>
                </div>
            </div>
        </div>
</form>

<script>
    function back() {
        event.preventDefault();
        location.href = '/SeriousnessList';
    }
    //expand menu
    document.getElementById("adminCaret").setAttribute("aria-expanded", "true");
    document.getElementById("pagesAdmin").classList.add("show");
</script>
