@page "/SeriousnessList"
@inject SharedLocalizer L
@model Segurplan.Web.SeriousnessListModel
@{
    ViewData["Title"] = L["SideBar.SeriousnessList"];

}
<form id="seriouesnessList" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="content listado no-tabs">
        <div class="container-fluid p-0">
            <!-- Buscador -->
            <div class="row buscadorRelativoContent ml-2" id="filterZone">
                <div class="row">
                    <div class="col-11">
                        <div class="row">
                            <div class="form-group bmd-form-group col-4">
                                <div class="input-group">
                                    <label for="code" class="bmd-label-floating">@L["Administration.Seriousness.Id"]</label>
                                    <input type="text" asp-for="@Model.IdFilter" class="form-control" value="@Model.IdFilter">
                                </div>
                            </div>

                            <div class="form-group bmd-form-group col-8">
                                <div class="input-group">
                                    <label for="seriousness" class="bmd-label-floating">@L["Administration.Seriousness.Seriousness"]</label>
                                    <input type="text" asp-for="@Model.ValueFilter" class="form-control" value="@Model.ValueFilter">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=""></div>
                    <div class="col-1 acciones_buscador">

                        <button class="btn btn-just-icon btn-white">
                            <i class="material-icons cerrarBuscador" id="searchClose" style="display:block">close</i>
                            <div class="ripple-container"></div>
                        </button>

                        <button type="submit" asp-page-handler="DeleteFilter" class="btn btn-white buscar" id="SearchButton">
                            @L["Planes.Filtros.Search"]
                        </button>

                    </div>
                </div>
            </div>

            <div class="row tags">
                <div class="col-12 px-0">
                    <ul>
                        @{
                            if (Model.IdFilter != 0)
                            {

                                <li>
                                    @L[$"Administration.Seriousness.Id"]
                                    <span><label asp-for="@Model.IdFilter">@Model.IdFilter</label></span>
                                    <button asp-page-handler="DeleteFilter" asp-route-filterIndex="@SeriousnessListModel.FilterIndex.Id" type="submit" class="btn btn-just-icon btn-white">
                                        <i class="material-icons">close</i>
                                    </button>
                                </li>
                            }
                            if (!string.IsNullOrWhiteSpace(Model.ValueFilter))
                            {
                                <li>
                                    @L[$"Administration.Seriousness.Seriousness"]
                                    <span><label asp-for="@Model.ValueFilter">@Model.ValueFilter</label></span>
                                    <button asp-page-handler="DeleteFilter" asp-route-filterIndex="@SeriousnessListModel.FilterIndex.Value" type="submit" class="btn btn-just-icon btn-white">
                                        <i class="material-icons">close</i>
                                    </button>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="content planes" id="tableContainer">
            <div class="">
                @{
                    if (Model.DeleteErrors)
                    {
                        @await Component.InvokeAsync("Warning", Model.WarningDTO);
                    }
                }
                <table class="table table-bordered table-striped table-shortable table-hover tableFixHead" id="PlanTable">
                    <thead>
                        <tr>
                            <th width="11%">
                                @{
                                    var codeSortClass = !string.IsNullOrWhiteSpace(Model.IdSort)
                                        ? Model.IdSort.Contains("Asc")
                                            ? "order_asc"
                                            : Model.IdSort.Contains("Desc")
                                                ? "order_desc"
                                                : "order_default"
                                        : "order_default";
                                }
                                <a asp-page-handler="ApplySort"
                                   asp-route-code="@Model.IdFilter"
                                   asp-route-seriousness="@Model.ValueFilter"
                                   asp-route-rows="@Model.TableState.PageRows"
                                   asp-route-sortOrder="@Model.IdSort">@L["Administration.Seriousness.Id"]<span class="@codeSortClass"></span></a>

                            </th>
                            <th width="82%">
                                @{
                                    var seriousnessSortClass = !string.IsNullOrWhiteSpace(Model.ValueSort)
                                        ? Model.ValueSort.Contains("Asc")
                                            ? "order_asc"
                                            : Model.ValueSort.Contains("Desc")
                                                ? "order_desc"
                                                : "order_default"
                                        : "order_default";
                                }
                                <a asp-page-handler="ApplySort"
                                   asp-route-code="@Model.IdFilter"
                                   asp-route-seriousness="@Model.ValueFilter"
                                   asp-route-rows="@Model.TableState.PageRows"
                                   asp-route-sortOrder="@Model.ValueSort">@L["Administration.Seriousness.Seriousness"]<span class="@seriousnessSortClass"></span></a>

                            </th>
                            <th width="7%">@L["Planes.TablePlan.Acciones"] </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.SeriousnessList != null)
                            {
                                string rowName = string.Empty;
                                string dupliId = string.Empty;
                                string dpDown = string.Empty;
                                foreach (var seriousness in Model.SeriousnessList)
                                {
                                    rowName = "row" + @seriousness.Id;
                                    dpDown = "dp" + @seriousness.Id;
                                    dupliId = "dup" + @seriousness.Id;
                                    <tr id="@rowName">
                                        <td title="@L["General.Table.Visualize"]" onclick="viewSeriousness('@seriousness.Id');">@seriousness.Id</td>
                                        <td title="@L["General.Table.Visualize"]" onclick="viewSeriousness('@seriousness.Id');"><p>@Html.Raw(seriousness.Value)</p></td>

                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a class="nav-link" href="#" id="@dpDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                    <p class="d-lg-none d-md-block"> Account </p>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUserRole">
                                                    <a class="dropdown-item" asp-page="SeriousnessManagement" asp-page-handler="ManageSeriousness"
                                                       asp-route-seriousnessId="@seriousness.Id" 
                                                       asp-route-managementAction="@Segurplan.Web.Pages.Models.Administration.SeriousnessList.ManagementAction.View">@L["General.Table.Visualize"]</a>
                                                    <a class="dropdown-item" asp-page="SeriousnessManagement" asp-page-handler="ManageSeriousness" 
                                                       asp-route-seriousnessId="@seriousness.Id" 
                                                       asp-route-managementAction="@Segurplan.Web.Pages.Models.Administration.SeriousnessList.ManagementAction.Edit">@L["Planes.OpcionTable.Editar"]</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#" onclick="deleteSeriousness('@seriousness.Id','@seriousness.Id');">@L["Planes.OpcionTable.Eliminar"]</a>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

                <button type="submit" class="nuevo btn btn-fab btn-round" asp-page-handler="NewSeriousness"> <i class="fas fa-plus"></i> </button>

                <div class="footer-table ">
                    <div class="container">
                        <div class="row">
                            <div class="col-2 ml-auto text-left">
                                <div class="row">
                                    <label class="col-8 col-form-label">@L["Planes.Table.Registros"]</label>
                                    <div class="col-4">
                                        <div class="dropdown bootstrap-select show-tick">
                                            <select asp-for="PageRows" class="selectpicker"
                                                    data-style="select-with-transition" id="rowsChanger"
                                                    data-size="4" tabindex="-98" onchange="$('#SearchButton').trigger('click');">
                                                @{
                                                    foreach (int rowNum in Model.TableState.PageRowList)
                                                    {
                                                        if (rowNum == Model.TableState.PageRows)
                                                        {
                                                            <option value="@rowNum" selected>@rowNum </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@rowNum">@rowNum </option>
                                                        }
                                                    }
                                                }

                                            </select>

                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" role="button" title="Registros">
                                                <div class="filter-option">
                                                    <div class="filter-option-inner">
                                                        <div class="filter-option-inner-inner">Registros</div>
                                                    </div>
                                                </div>
                                                <div class="ripple-container"></div>
                                            </button>

                                            <div class="dropdown-menu " role="combobox">
                                                <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
                                                    <ul class="dropdown-menu inner show">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 ">
                                <div class="row">
                                    <div class="col-4 paginacion text-right">
                                        @{
                                            var startRecord = Model.TableState.PageRows > 0
                                                ? ((Model.TableState.IndexPage * Model.TableState.PageRows) + 1)
                                                : 0;

                                            var results = ((Model.TableState.IndexPage * Model.TableState.PageRows) + Model.TableState.PageRows);
                                        }
                                        <span id="startRecord">@startRecord - </span><span id="nResults">@results</span> de <span id="total">@Model.TotalRows</span>
                                    </div>
                                    <div class="col-8 text-right">
                                        @{
                                            var backEnabled = Model.TableState.IndexPage > 0 ? "" : "disabled";
                                            var nextEnabled = Model.TableState.IndexPage < Model.TotalPages ? "" : "disabled";
                                        }
                                        @Html.HiddenFor(m => m.TableState.IndexPage)
                                        @Html.HiddenFor(m => m.TableState.OrderBy)
                                        @Html.HiddenFor(m => m.TableState.OrderModeDesc)
                                        @Html.HiddenFor(m => m.TableState.PageRows)
                                        @Html.HiddenFor(m => m.CurrentOrder)
                                        <button class="btn @backEnabled" type="submit" asp-page-handler="PreviousPage" asp-route-index="@Model.TableState.IndexPage"> <i class="fas fa-chevron-left"></i> </button>
                                        <button class="btn @nextEnabled" type="submit" asp-page-handler="NextPage" asp-route-index="@Model.TableState.IndexPage"> <i class="fas fa-chevron-right"></i> </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- /Modal DELETE Seriousness -->
<div class="modal notificacion fade" id="deleteSeriousness" tabindex="-1" role="dialog" aria-labelledby="delete record" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title error" id="exampleModalLabel">@L["Administration.Seriousness.DeleteTitle"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <p class="text-center">@L["Administration.Seriousness.DeleteMsg1"]<span id="deleteSeriousnessMsg" style="color:red;margin-left:5px;margin-right:5px;"></span>@L["Administration.Seriousness.DeleteMsg2"]</p>
                <form id="deleteSeriousness" method="post" action="/SeriousnessManagement?handler=DeleteSeriousness">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="deleteSeriousnessId" name="deleteSeriousnessId" value="-1" />

                    <div class="row mt-4">
                        <div class="col-6"><button class="btn btn-default btn-lg col-12" data-dismiss="modal">@L["General.Radio.No"]<div class="ripple-container"></div></button></div>
                        <div class="col-6"><button type="submit" id="btnDelete" onclick="this.classList.add('disabled');" class="btn btn-primary btn-lg col-12">@L["General.Radio.Si"]<div class="ripple - container"></div></button></div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <!-- /Modal DELETE Seriousness -->


</div>

<script>
    //expand menu
    document.getElementById("adminCaret").setAttribute("aria-expanded", "true");
    document.getElementById("pagesAdmin").classList.add("show");

    function deleteSeriousness(seriousnessId, code) {

        elementSet('deleteSeriousnessId', seriousnessId);
        elementInner('deleteSeriousnessMsg', code)
        $('#deleteSeriousness').modal('show').fadeIn("slow");
    }

    function viewSeriousness(id) {
        location.href = "/SeriousnessManagement?handler=ManageSeriousness&seriousnessId=" + id + "&managementAction=View";
    }
</script>
