@model UserDetailsViewComponentModel
@inject SharedLocalizer L


<form asp-page-handler="@Model.PageHandler" id="addAcitivtyForm" method="post">

    <div class="content tabs elec-content-layout">
        <div class="container formularioDetalle">

            @if (Model.ErrorMsg != null)
            {
                <div class="alert alert-warning alert-dismissible fade show alert-with-icon" role="alert">
                    <span class="material-icons" data-notify="icon">error_outline</span>
                    @Model.ErrorMsg
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <div class="row">
                <div class="form-group bmd-form-group col-6">
                    <div class="input-group ">
                        <label for="userName" class="bmd-label-floating">@L["Administration.Users.UserNameInput"]</label>
                        <input class="form-control" type="text" name="userName" required />
                    </div>
                </div>
            </div>

            <div class="footer-formularioDetalle">
                <div class="container-fluid">
                    <div class="row px-4 align-items-center">
                        <div class="col-auto ml-auto">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="btn btn-default" asp-page="/Models/Administration/Users/UsermanagementList">@L["General.Boton.Cerrar"]</a>
                                </li>
                                <li class="list-inline-item">
                                    <div class="btn-group">
                                        <button class="btn btn-primary" type="submit">
                                            @L["General.Submit"]
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

