@page "/Dashboard"
@model Segurplan.Web.Pages.Models.Home.DashboardModel

@inject SharedLocalizer L

@{
    ViewData["Title"] = L["Dashboad.Titulo"];
    Layout = "_Layout";
}


<div class="dashboard">
    <div class="content dashboard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-header card-header-text card-header-pendientes m-0">
                            <div class="card-text col-12">

                                <div class="row">
                                    <p class="card-title col-12">
                                        <i class="fas fa-inbox"></i>
                                        @L["Dashboard.Tabla.Pendiente"]: 31
                                    </p>

                                </div>

                            </div>
                        </div>
                        <div class="card-body container-scrollbar">
                            <ul>
                                <li>
                                    <a href="segurplan_plan_detalle.html">
                                        <div class="icon certificadosGray"></div>
                                        <div class="datos">
                                            <div class="fecha">
                                                01/10/19  <!--| <span>Broker 26/12/19</span>-->
                                            </div>

                                            <div class="texto">
                                                <span>1529</span> &gt; 1 Construcción de montaje de líneas de distribución y transporte energía......
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="segurplan_plan_detalle.html">
                                        <div class="icon certificadosGray"></div>

                                        <div class="datos">
                                            <div class="fecha">
                                                01/10/19
                                            </div>

                                            <div class="texto">
                                                <span>1529</span> &gt; 2 Construcción de montaje de líneas de distribución y transporte energía......
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="segurplan_plan_detalle.html">
                                        <div class="icon certificadosGray"></div>
                                        <div class="datos">
                                            <div class="fecha">
                                                11/04/19
                                            </div>

                                            <div class="texto">
                                                <span>1529</span> &gt; 3 Construcción de montaje de líneas de distribución y transporte energía.....
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="segurplan_plan_detalle.html">
                                        <div class="icon certificadosGray"></div>
                                        <div class="datos">
                                            <div class="fecha">
                                                11/04/19
                                            </div>

                                            <div class="texto">
                                                <span>1529</span> &gt; 5 Construcción de montaje de líneas de distribución y transporte energía......
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="segurplan_plan_detalle.html">
                                        <div class="icon certificadosGray"></div>
                                        <div class="datos">
                                            <div class="fecha">
                                                11/04/19
                                            </div>

                                            <div class="texto">
                                                <span>1529</span> &gt; Solicitud de certificado nº 1529. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="segurplan_plan_detalle.html">
                                        <div class="icon certificadosGray"></div>
                                        <div class="datos">
                                            <div class="fecha">
                                                11/04/19
                                            </div>

                                            <div class="texto">
                                                <span>1529</span> &gt; Solicitud de certificado nº 1529. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="segurplan_plan_detalle.html">
                                        <div class="icon certificadosGray"></div>
                                        <div class="datos">
                                            <div class="fecha">
                                                11/04/19
                                            </div>

                                            <div class="texto">
                                                <span>1529</span> &gt; Solicitud de certificado nº 1529. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="segurplan_plan_detalle.html">
                                        <div class="icon certificadosGray"></div>
                                        <div class="datos">
                                            <div class="fecha">
                                                11/04/19
                                            </div>

                                            <div class="texto">
                                                <span>1529</span> &gt; Solicitud de certificado nº 1529. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="segurplan_plan_detalle.html">
                                        <div class="icon certificadosGray"></div>
                                        <div class="datos">
                                            <div class="fecha">
                                                11/04/19
                                            </div>

                                            <div class="texto">
                                                <span>1529</span> &gt; Solicitud de certificado nº 1529. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="segurplan_plan_detalle.html">
                                        <div class="icon certificadosGray"></div>
                                        <div class="datos">
                                            <div class="fecha">
                                                11/04/19
                                            </div>

                                            <div class="texto">
                                                <span>1529</span> &gt; Solicitud de certificado nº 1529. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-8 mt-1">
                    <div class="row">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header card-header-text card-header-primary m-0">
                                    <div class="card-text col-12">
                                        <p class="card-title">
                                            <i class=" fas fa-folder"></i>
                                            <span>@L["Dashboard.Tabla.TodosLosPlanes"]</span>
                                            566
                                        </p>

                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="lista1">
                                        <li>
                                            <a href="">
                                                <span class="texto">Borradores</span> <span class="numero borradores">22</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="texto">Pendientes</span> <span class="numero pendientes">15</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="texto">En tránsito</span> <span class="numero transito">20</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="lista2">
                                        <li>
                                            <a href="">
                                                <span class="texto">Finalizadas</span> <span class="numero">22</span>
                                            </a>
                                        </li>

                                    </ul>
                                    <div class="text-center">
                                        <button class="btn ver ">
                                            <i class="fas fa-eye"></i>
                                            @L["General.Boton.VerTodas"]
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header card-header-text card-header-primary m-0">
                                    <div class="card-text col-12">
                                        <p class="card-title">
                                            <i class="fas fa-file-alt"></i>
                                            <span>@L["Dashboard.Tabla.MisPlanes"]</span>
                                            566
                                        </p>

                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="lista1">
                                        <li>
                                            <a href="segurplan_listado_misplanes.html#borradores">
                                                <span class="texto">Borradores</span> <span class="numero borradores">22</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="segurplan_listado_misplanes.html#pendientes">
                                                <span class="texto">Pendientes</span> <span class="numero pendientes">15</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="segurplan_listado_misplanes.html#transito">
                                                <span class="texto">En tránsito</span> <span class="numero transito">20</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="lista2">
                                        <li>
                                            <a href="segurplan_listado_misplanes.html#finalizadas">
                                                <span class="texto">Finalizadas</span> <span class="numero">22</span>
                                            </a>
                                        </li>

                                    </ul>
                                    <div class="text-center">
                                        <a href="segurplan_listado_misplanes.html#todas" class="btn ver ">
                                            <i class="fas fa-eye"></i>
                                            @L["General.Boton.VerTodas"]
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

